* {
  padding: 0;
  margin: 0;
  font-family: "Roboto", system-ui, -apple-system, BlinkMacSystemFont,
    "Segoe UI", Roboto, Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue",
    sans-serif;
}

:root {
  --color-backgroud: #064f907e;
  --color: #f7f6f6;
  --color-two: #000;
  --padding: 3rem 3rem;
  --margin: 2rem;
  --font-size: 3rem;
}

.a1 {
  background-color: var(--color-backgroud);
  text-align: center;
}

a {
  font-size: 2rem;
  margin: 4rem;
  text-transform: capitalize;
  text-decoration: none;
  color: #f7f6f6a3;
  padding: 0.15em 6rem;
  font-family: "Satisfy", cursive;
  font-weight: 400;
  font-style: normal;
}

h1 {
  text-align: center;
  padding-top: 31vh;
  font-size: 5rem;
  color: var(--color);
  text-transform: uppercase;
  margin-bottom: 0.25rem;
}

.img {
  object-fit: cover;
  height: 100vh;
  width: 100vw;
  top: 0;
  position: absolute;
  z-index: -10;
  box-shadow: 0 5rem 5rem 0.9rem #5c5c5c40;
}

.p_h1 {
  text-align: center;
  word-spacing: 1rem;
  font-size: 1rem;
  text-transform: uppercase;
  font-weight: 600;
  color: var(--color);
  padding-bottom: 25rem;
}

body {
  background-color: #f7f6f6;
  color: var(--color);
}

h2 {
  margin: 4rem 0 1rem 2rem;
  display: inline-block;
  font-size: 3rem;
  color: var(--color-backgroud);
  display: inline-block;
}

.p_h2 {
  font-size: 2rem;
  font-weight: 600;
  color: var(--color-backgroud);
  margin: 5rem 0;
  text-align: center;
}

.massagem {
  border: 1rem solid var(--color-backgroud);
  border-radius: 5rem;
  padding: 1rem;
  margin: 2.25rem;
  margin-bottom: 3rem;
  font-size: 2rem;
  text-align: center;
  font-weight: 500;
  background-color: #064f907e;
}

.massagem_d {
  border-radius: 5rem;
  float: right;
  height: 35rem;
  width: 45rem;
}

.massagem_text {
  font-size: 2.5rem;
  margin: 5rem 5rem 10rem 2rem;
  line-height: 1.75;
  font-style: italic;
  color: #064f907e;
  font-weight: 600;
}

footer {
  background-color: var(--color-backgroud);
  padding: 2rem;
  color: var(--color);
  font-size: 1.5rem;
  text-align: center;
  font-weight: 600;
  z-index: 10;
}
