body {
 
  line-height: 2rem;

  background-color: #057bb1;
}

header {
  color: #fff;
font-family: normal;
  font-size: 2rem;
  text-align: center;
}

section {
  box-shadow: 5px 5px 5px rgba(0, 0, 0, 0.142);
  border-radius: 1rem;
  width: 600px;
  margin: auto;
  padding: 15px;
  background-color: #fff;
}

footer {
  color: #fff;
  font-style: italic;
  text-align: center;
}
div{
  text-align: center;
  margin-top: 1.5rem;
  font-size: 1.5rem;
}

#imagem{
  width: 20rem;
  height: 20rem;
  border-radius: 100%;
}
